<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.hellospring.repository.UserMapper">
    <select id="selUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE email = #{email}
          AND provider = #{provider}
    </select>
</mapper>